//TYPOGRAPHY
$courier: "Courier New", Courier, monospace;
$root: 16px;
$body-baseline: 150%;
$display-baseline: 120%;

//COLORS
$primary: #000;


//Spacing
$primary-spacing: 24px;
$secondary-spacing: 12px;

//Breakpoints
$mobile: 500px;

//Dimensions
$fluid: 100%;

//Transitions
$slow: 0.5s ease-in;