//TYPOGRAPHY
$helvetica-Neue: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$junction: "junction_regularregular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$root: 16px;
$body-baseline: 150%;
$display-baseline: 120%;

//COLORS
$primary: #222;


//Spacing
$primary-spacing: 24px;
$secondary-spacing: 12px;