//-----IMPORTS-----/
@import "reset";
@import "_font-face";
@import "_variables";
@import "_globals";

//-----USERS-CODE-----//
//TYPOGRAPHY
p,
h6,
h5,
h4,
h3,
h2,
h1,
a {
	@extend %font-rule;
}

p {
	@include paragraph;
}

h6 {
	@include heading-6;
}

h5 {
	@include heading-5;
}

h4 {
	@include heading-4;
}

h3 {
	@include heading-3;
}

h2 {
	@include heading-2;
}

h1 {
	@include heading-1;
}

a {
	@include link;
}

html,
body,
#container {
	@include root-reset;
	@include flex-parent;
	@extend %full-height-and-width;
}

#collections,
#acquire, 
#contact {
	@include flex-parent(row, no-wrap, center, center);
	@extend %full-height-and-width;
}

//MAXIMAGE

div#holder {
	width: $fluid - 15%;
	height: $fluid - 15%;
	overflow: hidden;
	margin: auto;
}

#maximage {
	position: relative !important;
}

//NAVIGATION

nav  {
	@include flex-parent(row);
	width: $fluid;
	margin: $primary-spacing 0;

	ul {
		@include flex-parent (row, no-wrap, space-between, center);
		width: $fluid;
	}
}

nav.bottom-nav > ul {
	@include flex-parent (row, no-wrap, flex-end, center);
	width: $fluid;
}

img#logo {
	width: 200px;
	margin-left: -50px;
	margin-top: 5px;

	@media screen and (max-width: $mobile) {
		width: 100px;
	}
}

li {
	@include link;
	margin: $secondary-spacing;

	a {
		opacity: 0.66;
		padding: $secondary-spacing;
	}

	a:hover {
		transition: $slow;
		opacity: 1;
	}
}

//COLLECTION

section#collections {
	width: $fluid - 5%;
	margin: 0 auto;

	a {
		margin: $secondary-spacing;
		opacity: $clear;
		padding: $secondary-spacing;

		img {
			width: $fluid;
		}

		h6 {
			margin-top: $secondary-spacing - 5px;
			text-align: center;
		}
	}

	a:hover {
		transition: $slow;
		opacity: 1;
	}
}

//ACQUIRE

section#acquire {
	width: $fluid - 3%;

	section#col-wrapper {
		@include flex-parent(row, no-wrap, center, flex-start);
		section.flex-col {
			@include flex-child(100px);
			@include flex-parent(column, no-wrap, center, center);
			margin: 4px;

			a {
				width: $fluid;
				opacity: $clear;

				img {
					width: $fluid;
				}
			}

			a:hover {
				transition: $slow;
				opacity: 1;
			}
		}
	}	
}

//CONTACT

section#contact {
	@extend section#collections;

	a {
		@include heading-6;
	}
}
