//Libraries
@import "libraries/bourbon/_bourbon";		//Bourbon
@import "libraries/neat/_grid-settings";	//Custom Neat grid rules
@import "libraries/neat/_neat";				//Neat

//Base
@import "base/_typography";					//Bitters

//Helpers
@import "helpers/_variables";
@import "helpers/_mixins";

section#acquire {
	@include outer-container;
	margin: 5%;
}

.shop-item {
	@include media($mobile) {
		@include span-columns(4);
		//@include omega(4n);
		height: 75px;
	}
	@include media($tablet) {
		@include span-columns(4);
		@include omega(2n);
		height: 150px;
	}
	@include media($laptop) {
		@include span-columns(4);
		@include omega(3n);
		height: 200px !important; 
	}	



	img {
			max-width: 100%;
	}
}
