//Libraries
@import "libraries/bourbon/_bourbon";		//Bourbon

//Base
@import "base/_typography";					//Bitters

//Helpers
@import "helpers/_variables";

nav  {
	@include flex-parent(row);
	width: $fluid;
	margin: $primary-spacing 0;

	ul {
		@include flex-parent (row, no-wrap, space-between, center);
		width: $fluid;
	}
}

nav.bottom-nav > ul {
	@include flex-parent (row, no-wrap, flex-end, center);
	width: $fluid;
}