/*--------------------Imports--------------------*/

//Libraries
@import "libraries/neat/neat-helpers";	//Neat-helpers

/*--------------------Code--------------------*/

$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(1088);

// Define your breakpoints
$mobile: new-breakpoint(min-width 300px 4);
$tablet: new-breakpoint(min-width 600px 8);
$laptop: new-breakpoint(min-width 900px 12);